* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    vertical-align: top;
}

.flex {
    display: flex;
    justify-content: space-between;
}



/*-------------------------------header*/
.visualWrap {
    border: 3px solid red;
    background: #ccc;
}

.headerWrap {
    border: 2px solid #000;
}

.headerWrap header {
    width: 1280px;
    margin: 0 auto;
    padding: 15px 0;
    background: aqua;
    align-items: center;
    position: relative;
}

.headerWrap header .gnb {
    border: 3px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0 30px;
}

.headerWrap .search {
    border: 3px solid #000;
    position: relative;
}

.headerWrap .search input {
    border-radius: 20px;
    outline: none;
    padding: 10px 30px 10px 10px;
}

.headerWrap .search i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.visualWrap .txt-box {
    border: 2px solid green;
    width: 35%;
    text-align: center;
    margin: 300px auto 100px;
}

.visualWrap .txt-box p {
    margin: 20px 0;
}

.visualWrap .txt-box a {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 30px;
    display: inline-block;
}



/*-------------------------------content*/
.wid-cen {
    width: 1280px;
    margin: 0 auto;
    border: 3px solid #000;
}

.con-title {
    margin: 0 0 15px;
    background: aqua;
    text-align: center;
    color: #555;
}

.content {
    border: 5px solid red;
    margin: 150px auto;
}

.content>div {
    margin: 0 auto 70px;
    border: 2px solid blue;
}

.content>div:last-child {
    margin: 0 auto;
}




/*--------------------con1*/
.content .con1-btnWrap {
    justify-content: center;
    gap: 0 70px;
    margin: 0 0 20px;
}

.content .con1-btnWrap>a {
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 20px;
}

.content .con1-btnWrap>a.on {
    background: #ccc;
    color: #fff;
    border: none;
}

.con1 .con1-panel {
    position: relative;
    border: 3px solid blue;
    overflow: hidden;
}

.con1 .con1-panel>div {
    width: 100%;
}

.con1 .con1-panel>div.on {
    position: absolute;
}

.con1 .con1-panel>div>div {
    width: 22%;
    height: 300px;
    border: 2px solid #000;
    background: aqua;
}





/*------------------------con2*/
.con2 .flex>div {
    width: 50%;
    text-align: center;
}

.con2 .flex .con2-left {
    height: 400px;
    background: #ccc;
}

.con2 .flex .con2-right {
    position: relative;   
}

.con2 .flex .con2-right .right-txt {
    position: absolute;
    width: 150%;
    right: 0;
    bottom: 50px;
    border: 1px solid #000;
    padding: 20px;
}

.con2 .flex .con2-right .right-txt h2 {
    font-size: 70px;
    text-shadow: 3px 3px 3px #222;
    color: #fff;
}





/*-----------------------------con3*/
.con3 .flex>div {
    width: 19%;
    height: 350px;
    background: aqua;
}




/*---------------------------con4*/
.con4 .flex>div {
    width: 50%;
    text-align: center;
}

.con4 .flex .con4-left {
    position: relative;   
}

.con4 .flex .con4-left .left-txt {
    position: absolute;
    width: 150%;
    left: 0;
    bottom: 50px;
    border: 1px solid #000;
    padding: 20px;
}

.con4 .flex .con4-left .left-txt h2 {
    font-size: 70px;
    text-shadow: 3px 3px 3px #222;
    color: #fff;
}

.con4 .flex .con4-right {
    height: 400px;
    background: #ccc;
}



/*---------------------------con5*/
.con5 .flex>div {
    width: 23%;
    height: 300px;
    background: aqua;
    position: relative;
    overflow: hidden;
}

.con5 .flex>div .inner {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.5s;
}

.con5 .flex>div:hover .inner {
    left: 0;
}

.con5 .flex>div .inner .tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*-----------------------------con6*/
.con6Wrap {
    background: url(https://images.unsplash.com/photo-1509773896068-7fd415d91e2e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D) center/cover;
    background-attachment: fixed;
    padding: 150px 0;
}

.con6Wrap .con6 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
}



/*------------------------footer*/
.footer {
    background: #ccc;
    padding: 80px 0;
}